.cart {}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__item:hover {
    background-color: #f8f9fa;
}

.cart__item-name {
    text-transform: capitalize;
}

.cart__price {
    color: green;
}

.cart__delete-button {
    cursor: pointer;
    font-size: 2em;
    color: darkred;
}

.cart__delete-button:hover {
    color: red;
}

.cart__total {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
}

.cart__empty-message {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}