.pizza-selector {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

.pizza-selector__header {
    margin-bottom: 10px;
}

.pizza-selector__add-pizza {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 15px;
}

.pizza-selector__toppings {
    margin-top: 10px;
}

.pizza-selector__price {
    color: green;
}